<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moneybuddy.moneylog">

    <!-- 하드웨어/권한 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Android 13+ 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:targetApi="33" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Android 13+ 이미지 읽기 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Android 12 이하 외부저장소 읽기 (경고 회피용 maxSdkVersion) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:name=".common.MoneyLogApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Moneylog"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- ✅ 항상 앱 시작 지점: IntroActivity (스플래시 테마 적용) -->
        <activity
            android:name=".intro.activity.IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash"/>
        <activity android:name=".mypage.activity.ChangePasswordActivity"/>
        <activity
            android:name=".mypage.activity.MypageActivity"
            android:exported="false" />
        <activity
            android:name=".main.activity.MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ledger.activity.LedgerWriteActivity" />
        <activity android:name=".ledger.activity.LedgerDetailActivity" />
        <activity android:name=".ledger.activity.CalendarActivity" />
        <activity
            android:name=".ledger.activity.GraphActivity"
            android:parentActivityName=".ledger.activity.CalendarActivity" />

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 카드/결제 알림 수집용 NotificationListenerService -->
        <service
            android:name=".ledger.service.CardNotificationListenerService"
            android:exported="true"
            android:label="MoneyLog Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".signup.activity.SignupActivity" />

        <!-- login 브랜치 임시 화면들 (후에 정리 가능) -->

        <activity android:name=".challenge.activity.ChallengeCreateActivity" />
        <activity android:name=".challenge.activity.ChallengeCategoryActivity" />
        <activity android:name=".challenge.activity.ChallengeDetailActivity" />

        <activity
            android:name=".notification.activity.NotificationActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity android:name=".mobti.activity.MobtiResultActivity" />
        <activity android:name=".mobti.activity.MobtiSurveyActivity" />
        <activity android:name=".mobti.activity.MobtiActivity" />

    </application>
</manifest>